<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nemoclaw.morning-briefing</string>
    <key>ProgramArguments</key>
    <array>
        <string>__REPO_DIR__/scripts/morning-briefing.sh</string>
        <string>--chat-id</string>
        <string>__TELEGRAM_CHAT_ID__</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/morning-briefing.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/morning-briefing.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:__NODE_BIN__:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>__HOME__</string>
    </dict>
</dict>
</plist>
