<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nemoclaw.auto-start</string>
    <key>ProgramArguments</key>
    <array>
        <string>__REPO_DIR__/scripts/auto-start.sh</string>
        <string>--sandbox</string>
        <string>__SANDBOX__</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/nemoclaw-auto-start.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/nemoclaw-auto-start.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__HOME__/.local/bin:/usr/local/bin:/opt/homebrew/bin:__NODE_BIN__:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>__HOME__</string>
    </dict>
</dict>
</plist>
